<h1 class="page-title">{{title}}</h1>

<div class="cards-container">
  {{#each products}}
    <div class="product-card">
      <div class="product-text">
        <strong class="team">{{team}}</strong>
        <span class="dash">—</span>
        <span class="player">{{player}}</span>

        <div class="details">
          <span class="season">{{season}}</span>
          <span class="price">${{price}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>